@import "../../~@fontsource/paytone-one/index.css"; // Defaults to weight 400 with all styles included.

// https://www.1001fonts.com/digital-7-font.html
@font-face {
	font-family: 'Digital-7';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url('../fonts/digital-7/digital-7.mono.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
	font-family: 'Digital-7-Italic';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url('../fonts/digital-7/digital-7.monoitalic.ttf') format('truetype'), /* Safari, Android, iOS */
}