@tailwind base;

// Extend Preflight styles.
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;
@tailwind utilities;

@import "./assets/sass/fonts.scss";

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin remCalc($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }


.player-shoot {
	//background-color: lightgray;
	padding: 10px;
	min-width: 90px;
	position: relative;


	&.rock {
		color: black;
	}

	.icon {

		&.stroke {
			z-index: 10;
			position: relative;

		}

		&.fill {
			position: absolute;
			top: 15%;
			right: calc(50% - 29px);
			fill: yellowgreen;
			z-index: 1;
		}
	}
}

svg.rock {
	transform: rotate(90deg) scaleY(-1);

	&.right {
		transform: rotate(90deg) scaleY(1);
	}
}

// Prevent icons from triggering events.
// https://stackoverflow.com/a/54430159/3059883
button {
	svg.icon {
		display: inline;
	}

	.icon,
	.button-text {
	  pointer-events: none;
	}
}

.fancy-hr svg {
	display: inline;
}

.lcd {
	background: black;
	color: red;
	padding: 1px 5px;
}