@tailwind base;

// Extend Preflight styles.
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;
@tailwind utilities;

@import "./assets/sass/fonts.scss";

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin remCalc($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}


$rem-base: 16px;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
  $max: length($values);
  @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }
  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}



.player-shoot {
	//background-color: lightgray;
	padding: 10px;
	min-width: 90px;
	position: relative;


	&.rock {
		color: black;
	}

	.icon {

		&.stroke {
			z-index: 10;
			position: relative;

		}

		&.fill {
			position: absolute;
			top: 15%;
			right: calc(50% - 29px);
			fill: yellowgreen;
			z-index: 1;
		}
	}
}

svg.rock {
	transform: rotate(90deg) scaleY(-1);

	&.right {
		transform: rotate(90deg) scaleY(1);
	}
}

.react-chartjs {
	canvas {
		margin-top: -5%;
		// Fix extra space at bottom of radar chart when grid is not circular.
		margin-bottom: -20%;
	}
}

// Prevent icons from triggering events.
// https://stackoverflow.com/a/54430159/3059883
button {
	svg.icon {
		display: inline;
	}

	.icon,
	.button-text {
	  pointer-events: none;
	}
}

.rps-page-break svg {
	display: inline;
}

.lcd {
	background-color: #000;
	padding: 1px 5px;
	color: yellow;
}

.dark .lcd {
	color: #ff0000cc;
}

.update-chart {
	visibility: hidden;
	width: 0;
	height: 0;
}