@tailwind base;

// Extend Preflight styles.
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-retropurple-100
  }
	a:hover {
    @apply text-retropurple-50
  }
}

@tailwind components;
@tailwind utilities;

@import "./assets/sass/fonts.scss";

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin remCalc($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}


// Zurb Foundation Rem Calc: https://stackoverflow.com/a/68394724/3059883
$rem-base: 16px;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
  $max: length($values);
  @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }
  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

button.player-shoot {
	padding: rem-calc( 14px 10px 10px 10px );
	min-width: 90px;
	position: relative;

	&.rock svg {
		//color: black;
	}

	&.clicked {
		background-color: #341C47;
		opacity: .67;
	}

	.icon {

		&.stroke {
			z-index: 10;
			position: relative;
			color: #E6C1E3;
		}

		&.fill {
			display: none;
			position: absolute;
			// For 58px fill, 70px stroke
			//top: 16px;
			//right: calc(50% - 29px);
			// For 48px fill, 55px stroke
			top: 13px;
			right: calc(50% - 24px);
			//fill: #603485;
			fill: yellow;
			z-index: 1;
		}
	}

	&:hover {
		.icon {
			&.stroke {
				//color: #341C47;
			}
		}
	}

	&:active {
		transform: translateY(rem-calc(4px));
	}
}

svg.rock {
	transform: rotate(90deg) scaleY(-1);

	&.right {
		transform: rotate(90deg) scaleY(1);
	}
}


// Prevent icons from triggering events.
// https://stackoverflow.com/a/54430159/3059883
button {
	svg.icon {
		display: inline;
	}

	.icon,
	.button-text {
	  pointer-events: none;
	}
}

.rps-page-break svg {
	display: inline;
}

.lcd {
	background-color: #000;
	padding: 1px 5px;
	color: yellow;
}

.dark .lcd {
	color: #ff0000cc;
}

.react-chartjs {
	canvas {
		margin-top: -5%;
		// Fix extra space at bottom of radar chart when grid is not circular.
		margin-bottom: -20%;
	}
}

.colors{
	color: #d9abf3;
	color: #25d4f3;
	color: rgba(37, 213, 244, 0.424);
	color: rgb(255, 255, 0);
	color: #FFDFFC;
	color: #E6C1E3;
	color: #E0A6DB;
	color: #BDA5BB;
	color: #AC93AA;
	color: #A28EA0;
	color: #B362AC;
	color: #A0589A;
	color: #573154;
	color: #1C0029;
	color: #ff9b00;
	color: #FFA300;
	color: #FF7003;
	color: #ff7d00;
	color: #ce5e00;
}