@tailwind base;

// Extend Preflight styles.
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-retropurple-600
  }
	a:hover {
    @apply text-retropurple-500
  }
	.dark a {
    @apply text-retropurple-100
  }
	.dark a:hover {
    @apply text-retropurple-50
  }
}

@tailwind components;
@tailwind utilities;

@import "./assets/sass/fonts.scss";
@import "./assets/sass/utilities.scss";

button.player-shoot {
	min-width: 90px;
	padding: rem-calc( 14px 10px 10px 10px );
	position: relative;

	&.clicked {
		background-color: #341C47;
		color: #E0A6DB;
		opacity: .67;

		&:hover {
			background-color: #341C47;
			color: #E0A6DB;
		}
	}

	.icon {

		&.stroke {
			position: relative;
			z-index: 10;
		}

		&.fill {
			display: none;
			//fill: #603485;
			// For 58px fill, 70px stroke
			//top: 16px;
			//right: calc(50% - 29px);
			// For 48px fill, 55px stroke
			top: 13px;
			right: calc(50% - 24px);
			position: absolute;
			z-index: 1;
		}
	}

	&:hover {
		.icon {
			&.stroke {
				//color: #341C47;
			}
		}
	}

	&:active {
		transform: translateY(rem-calc(4px));
	}
}

.dark button.player-shoot {
	&.clicked {
		background-color: #341C47;
		color: #E6C1E3;

		&:hover {
			background-color: #341C47;
		}
	}
}

.rps-page-break {
	svg {
		display: inline;
	}

	svg.rock {
		transform: rotate(90deg) scaleY(1);
		&.reverse {
			transform: rotate(90deg) scaleY(-1);
		}
	}

	svg.paper {
		transform: rotate(90deg);
		&.reverse {
			transform: rotate(90deg) scaleY(-1);
		}
	}

	svg.scissors {
		transform: rotate(180deg) scaleY(-1);
		&.reverse {
			transform: scaleY(1);
		}
	}
}

svg.rock {
	transform: rotate(90deg) scaleY(-1);
	&.reverse {
		transform: rotate(90deg) scaleY(1);
	}
}

svg.paper {
	transform: rotate(90deg) scaleY(-1);
	&.reverse {
		transform: rotate(90deg);
	}
}

svg.scissors {
	&.reverse {
		transform: rotate(180deg) scaleY(-1);
	}
}

svg.react-icon {
	display: inline;
}


button {
	svg.icon {
		display: inline;
	}

	// Prevent icons from triggering events.
	// https://stackoverflow.com/a/54430159/3059883
	.icon,
	.button-text {
	  pointer-events: none;
	}
}

.lcd {
	background-color: #000;
	color: yellow;
	padding: 1px 5px;
}

.dark .lcd {
	color: #ff0000cc;
}

.react-chartjs {
	canvas {
		// Fix extra space at bottom of radar chart when grid is not circular.
		margin-bottom: -20%;
		margin-top: -5%;
	}
}

.laugh {
  animation-direction: alternate;
	animation-duration: 140ms;
	animation-iteration-count: 10;
	animation-name: laugh;
	bottom: rem-calc(4px);
	position: relative;
}
@keyframes laugh {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2px);
  }
}
@keyframes laugh {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2px);
  }
}

.back-and-forth {
	animation: backandforth 2500ms infinite linear;
}

@keyframes backandforth {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.back-and-forth-reverse {
	animation: backandforthreverse 2500ms infinite linear;
}
@keyframes backandforthreverse  {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.colors{
	color: #d9abf3;
	color: #25d4f3;
	color: rgba(37, 213, 244, 0.424);
	color: rgb(255, 255, 0);
	color: #FFDFFC;
	color: #E6C1E3;
	color: #E0A6DB;
	color: #BDA5BB;
	color: #AC93AA;
	color: #A28EA0;
	color: #B362AC;
	color: #A0589A;
	color: #573154;
	color: #1C0029;
	color: #ff9b00;
	color: #FFA300;
	color: #FF7003;
	color: #ff7d00;
	color: #ce5e00;
}