/**
 * The main stylesheet.
 */

// Tailwind stuff.
@tailwind base;
// Extend Preflight styles.
@import "./assets/sass/tailwind-preflight.scss";
@tailwind components;
@tailwind utilities;

@import "./assets/sass/fonts.scss";

// Not used. Just here for previewing colors.
.colors {
	color: #25d4f3; // Player
	color: rgba(37, 213, 244, 0.424); // Player fill
	color: #FFDFFC;
	color: #E6C1E3;
	color: #d9abf3;
	color: #E0A6DB;
	color: #BDA5BB;
	color: #AC93AA;
	color: #A28EA0;
	color: #B362AC;
	color: #A0589A;
	color: #573154;
	color: #1C0029;
	color: #ff9b00;
	color: #FFA300;
	color: #FF7003;
	color: #FF7003ee; // CPU
	color: #ff7d00;
	color: #ce5e00;
}
